@model List<Appointment>
<h1 class="mt-4">Appointments</h1>
<div class="container mt-4">
    <form asp-controller="Appointments" asp-action="Index1" method="post" class="mb-4">
        <div class="form-group row">
            <label for="date" class="col-sm-2 col-form-label">Appointment Date:</label>
            <div class="col-sm-4">
                <input type="date" id="date" name="date" class="form-control" value="@Model[0].AppointmentDate.Value.ToString("yyyy-MM-dd")" />
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Appointment Date</th>
                <th scope="col">Appointment Time</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Surname</th>
                <th scope="col">Patient Phone Number</th>
                <th scope="col">Total Price</th>
                <th scope="col">Paid Amount</th>
                <th scope="col">Remaining Amount</th>
                <th scope="col">Note</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.AppointmentDate</td>
                    <td>@obj.AppointmentTime</td>
                    <td>@if (obj.Patient != null)
                        {
                            @obj.Patient.PatientName
                        }</td>
                    <td>@if (obj.Patient != null)
                        {
                            @obj.Patient.PatientSurname
                        }</td>
                    <td>@if (obj.Patient != null)
                        {
                            @obj.Patient.PhoneNumber
                        }</td>
                    <td>@obj.TotalPrice</td>
                    <td>@obj.PaidAmount</td>
                    <td>@obj.RemainingAmount</td>
                    <td>@obj.Note</td>
                    <td>
                        <form asp-controller="Appointments" asp-action="Select" method="post" class="d-inline">
                            <input type="hidden" name="AppointmentDate" value="@obj.AppointmentDate" />
                            <input type="hidden" name="AppointmentTime" value="@obj.AppointmentTime" />
                            <input type="hidden" name="AppointmentId" value="@obj.AppointmentId" />
                            <input type="hidden" name="TotalPrice" value="@obj.TotalPrice" />
                            <input type="hidden" name="PaidAmount" value="@obj.PaidAmount" />
                            <input type="hidden" name="RemainingAmount" value="@obj.RemainingAmount" />
                            <input type="hidden" name="PatientId" value="@obj.PatientId" />
                            <input type="hidden" name="DoctorId" value="@obj.DoctorId" />
                            <input type="hidden" name="Note" value="@obj.Note" />

                            @if (obj.IsPreserved == false)
                            {
                                <button type="submit" class="btn btn-success" title="Preserve">
                                    <i class="bi bi-check"></i>Preserve
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-outline-secondary" title="Edit">
                                    <i class="bi bi-pencil"></i> Edit
                                </button>
                                <button type="submit" asp-area="" asp-controller="Payments" asp-action="Index" class="btn btn-outline-secondary" title="Payments">
                                    <i class="bi bi-pencil"></i> Payments
                                </button>
                                <button type="submit" formaction="/Appointments/Delete" class="btn btn-danger" title="Delete">
                                    <i class="bi bi-trash"></i>Delete
                                </button>
                            }
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
